



#content 
{
    
    margin:-50px 0px 0px -50px !important;
    float:left;
    
}

.legend {
width:200px;
float: left;
text-align: left;
margin: 380px 30px 0px 70px;
position:relative;
}

#content h1 {
font-family:'Cabin Sketch', arial, serif;
text-shadow:3px 3px 0 #ddd;
color:#193340;
font-size:40px;
margin-bottom:40px;
text-align:right;
}

.skills {
float:left;
clear:both;
width:100%;

}

.skills ul,
.skills li {
display:block;
list-style:none;
margin:0;
padding:0;
}

.skills li {
float:left;
clear:both;
padding:0px 15px 0px 15px;
height:30px;
width:80px;
line-height:35px;
color:#fff;
margin-bottom:1px;
font-size:11px;
font-weight:bold;
}
.skills li input{ width:30px; margin:3px 0px 0px 10px; float:right; font-size:26px; font-weight:bold;}

.skills .jq {
background:#f7464a;
}

.skills .css {
background:#fdb45c;
}

.skills .html {
background:#46bfbd;
}

.skills .php {
background:#0975ab;
}

.skills .sql {
background:#0975ab;
}




#diagram {
float:right;
width:50%;
margin: -30px 230px 10px -250px;
position: relative;
}

.get {
display:none;
}


/* ------ anchors
-----------------------------------------------*/

a {
text-decoration:none;
color:#333;
}

