<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	
  <connectionStrings>
	  <add name="PingBoardConString" connectionString="Data Source=.;Initial Catalog=PingBoard;Integrated Security=True" providerName="System.Data.SqlClient"/>
	 <!--<add name="PingBoardConString" connectionString="Data Source=PINGVENTURES;Initial Catalog=PingBoard;User ID=sa;Password=Ruhbani052007" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="BoardconsumerKey" value="IOw0uZmzfChopKR8D57sirGFY"/>
    <add key="BoardconsumerSecret" value="Upx5YEqGAVoxR9h2Yeh7BJ7EoA9YOSlAjcvLVS5xgjnamxd7XC"/>
    <add key="Boardtoken_AccessToken" value="105380803-DssEnNDGcBNZpS21nLsOVnxG3jAmKpqjzaw8z6ba"/>
    <add key="Boardtoken_AccessTokenSecret" value="wEIkxHr2z1mEiXDaQ0pma1vD8CINVhObQa3iHooEhrbIV"/>
    <add key="BoardFBScope" value="email,publish_actions"/>
    <add key="BoardFBKey" value="693653320672244"/>
    <add key="BoardFBSecret" value="80be09ba1f4d523723d7779fe23385ad"/>
    <add key="BoardInstaKey" value="e87091f98cd240a8b60cb8c1d503b385"/>
    <add key="MailServer" value="email21.secureserver.net"/>
    <add key="MailUsername" value="arvind@pingventures.com"/>
    <add key="MailPassword" value="matrix85"/>
    <add key="MailFrom" value="arvind@pingventures.com"/>
    <add key="EnableErrorLogEmail" value="false"/>
    <add key="ErrorLogEmail" value="sandeep@pingventures.com"/>
    <add key="SiteName" value="Ping Board"/>
  </appSettings>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
        <authentication mode="Windows"/>
        <customErrors mode="Off" defaultRedirect="GenericError.html"></customErrors>
        <!--<sessionState mode="InProc" timeout="30"></sessionState>-->
    </system.web>
</configuration>
